.fill { 
    min-height: 100%;
    height: 100%;
}

.name{
	height: 20px;
	margin: 5px;
}

.entry{
	margin: 5px;
	height: 30px;
	font-size: 25px;
}

.countButtons {
	min-height: 100%; 
	width: 100%;
	height: 100%;
}