html, body {
	height: 100%;
}

.container-fluid {
	min-height: 100%;
	overflow: hidden;
}

#sidebarDiv, #voteCountDiv { 
	margin-bottom: -9999px;
	padding-bottom: 9999px;
}

.name{
	height: 20px;
	margin: 5px;
}

.entry{
	margin: 5px;
	height: 30px;
	font-size: 25px;
}

.countButtons {
	height: 100%;
	width: 100%;
	margin: 5%;
}