html, body {
	height: 100%;
}

.container-fluid {
	min-height: 100%;
	overflow: hidden;
}

#fixMistakeButton {
	position: absolute;
	bottom: 2.5%;
}

.scrollable {
	position: absolute;
	height: 30%;
	width: 22%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#sidebarHeader{
/*	border-style: solid;
*/	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
}

.center { 
	float: none; 
	margin-left: auto; 
	margin-right: auto; 
} 

.fixBtn {
	width: 100%;
}

#sidebarDiv, #voteCountDiv { 
	margin-bottom: -9999px;
	padding-bottom: 9999px;
}

#sidebarDiv {
	border-style: solid;
	border-left: 1px;
	border-top:0px;
	background-color: #F2F2F2;
	height: 100%;
}

#voteCountDiv {
	background-color: #ECEDF2;
	float:right;
	width:10%;
}


/*Can remove this next set when formatting is figured out;
This just makes the table visible while debugging*/
#errorInstructions{
	position: absolute;
	left: 450px;
	top: 0px;
	width: 75%;
	height: 100%;
}

#errorInstructions img{
	height: 20%;
}

#errorInstructions h2{
	font-family: 'Istok Web', sans-serif;
	color: #5f0000;
}

#currentBallot {
	margin-top: 10%;
	table-layout: fixed;
	white-space: nowrap;
	overflow: hidden;
}

#resultsTitle{
	font-family: 'Istok Web', sans-serif;
	font-weight: bold;
	font-size: 1em;
	line-height: 0em;
	height: 0.9em;
	color: #7A8EA0;
}

#raceTitle {
	font-family: "Georgia";
	font-size: 1.2em;
	height:1.3em;
	margin-top: -1em;
	width: 100%;
}

#resultsContainer{
	vertical-align:middle;
}

.resultsContainer{
	margin-top: 20px;
}


.auditDone{
	visibility:hidden;
}

.name{
	margin: 5px;
	height: 25px;
	overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
    width: 100%;
}

.raceName {
	font-family: 'Istok Web', sans-serif;
	font-weight: bold;
	font-size: 1em;
	line-height: 0.9em;
	height: 0.9em;
	overflow: hidden;
}

.candidateName {
	font-family: "Georgia";
	font-size: 1.2em;
	height:1.3em;
	margin-top: -1em;
	width: 100%;
}

.raceSeparator {
	height: 1.6em;
}

.btn-info {
	border-color:black;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 2.5em;
	line-height: 1em;
	white-space: normal;
	border-radius: 10px;
}

.btn-info-top {
	font-size: 3em;
}

.entry{
	margin: 5px;
	font-size: 25px;
	height: 25px;
	overflow: hidden;
	width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;

}

#enteredInfo{
	clear: left;
	border-style: solid;
	border-left: 0;
	border-right: 0;
	border-bottom:0;
/*	overflow: auto;
*/
/*	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;*/
}

#container-fluid{
	overflow: hidden;
	height: 100%;
}

#ballotNumber{
	text-align: left;
	margin: 20px;
	margin-top: 23px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: 40px;
	float: left;
}

#ballotNumber p{
	font-size: 38px;
	text-align: left;
}

#logo{
	margin: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: 40px;
}

#counter{
	margin-left: 0px;
	clear: left;
}
.countButtons {
	height: 100%;
	width: 100%;
	margin: 5%;
}

#confirmationDialog {
	background-color: #F2F2F2;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#confirmationDialog p {
	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#confirmationDialog h3 {
	font-weight: bold;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#continueButton{
	border-color:black;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1em;
}

#cancelButton{
	border-color:black;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1em;

}

#endAudit {
	background-color: #F2F2F2;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#endAudit p {
	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#endAudit h3 {
	font-weight: bold;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#auditSubmit{
	border-color:black;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1em;
}

#auditCancel{
	border-color:black;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1em;
}


/*#sidebarHeader p{
	font-size: 30px;
	align: left;
}*/

.progress .bar{
	background-color: #000000;
}

.eICell{
	margin: 10px;
	padding: 10px;
}

.eICell p{
	font-family: "Georgia";
}

#errorInstructionTitle{
	text-align: center;
}