html, body {
	height: 100%;
}

.container-fluid {
	min-height: 100%;
	overflow: hidden;
}

#sidebarDiv, #voteCountDiv { 
	margin-bottom: -9999px;
	padding-bottom: 9999px;
}

.name{
	margin: 5px;
}

.entry{
	margin: 5px;
	font-size: 25px;
}

#enteredInfo{
	height: 100%;
	clear: left;
/*	overflow: auto;
*/}

#container-fluid{
	overflow: hidden;
	height: 100%;
}

#ballotNumber{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: 30px;
	float: left;
}

#counter{
	margin: 20px;
	margin-left: 0px;
	clear: left;

.countButtons {
	height: 100%;
	width: 100%;
	margin: 5%;
}