.resultsContainer{
	margin-top: 20px;
	font-family: "Georgia", serif;
	background-image:url('/static/img/cream_dust.png');
}

html, body {
	background-color: #eee;
	background-image:url('/static/img/wavegrid.png');
}

#resultsTitle{
	font-family: 'Istok Web', sans-serif;
}
#chartDiv{
	axisTitlesPosition:in;
}

#tabbablePills{
	margin-top: 40px;
	margin-bottom: 40px;
}

.chart{
	width: 640px; 
	height: 410px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #7A8EA0;
    size: 40px;
}

/*Why doesn't this do anything?*/
.nav-pills > (not).active > a {
	size: 40px;
	background-color: #FFFFFF;
}
