<!DOCTYPE html>
<html>
	<head>
		<title>TrueVote - Audit</title>
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
		<link href="http://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet" type="text/css">
		
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}js/audit.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/vote-count.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
	</head>
	<body>
		<div class="container-fluid" style="overflow:hidden;">
		  <div class="row-fluid">
		    <div id="sidebarDiv" class="span3">
		      <!--Sidebar content-->
		      {% include "sidebar.html" %}
		    </div>
		    <div id="voteCountDiv" class="span9">
		      <!--Body content-->
		      {% include "vote_count.html" %}
		    </div>
		  </div>
		</div>
	</body>
</html>