<!DOCTYPE html>
<html>
<head>
	<title>TrueVote - Audit</title>
	<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/bootstrap-themed.css" rel="stylesheet" media="screen">
	<!--<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">-->

	<link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.css" rel="stylesheet" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/vote-count.js"></script>
</head>

<body>
	
	

	<div id="endAudit" class="modal hide fade" data-backdrop="static">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h1>Audit Finished</h1>
		</div>
		<div class="modal-body">
			<div class="well">
				<h3>You have completed 5 ballots.</h3>
				<h3>Click "Submit" to submit the results of this audit and see the current totals for this election.</h3>
			</div>
		</div>
		<div class="modal-footer">
			<a id="auditCancel" href="/" class="btn btn-danger">Cancel</a>
			<a id="auditSubmit" href="/audit/results" class="btn btn-info login-button">Submit</a>
		</div>
	</div> 
	
	<div id="mainScreen" class="row-fluid">
		<div id="sidebarDiv" class="span3">
			<!--Sidebar content-->
			{% include "sidebar.html" %}
		</div>
		<div id="voteCountDiv" class="span9">
			<!--Body content-->
			{% include "vote_count.html" %}
		</div>
	</div>

</div>
</body>
</html>