<!DOCTYPE html>
<html>
	<head>
		<title>TrueVote</title>
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
		
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
	</head>
	<body>
	
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Welcome to TrueVote!</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Username</label>
  <div class="controls">
    <input id="Username" name="Username" type="text" placeholder="" class="input-xlarge">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label">Password </label>
  <div class="controls">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="" class="input-xlarge">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <a id="log-inButton" name="" class="btn btn-primary" href="/audit">Log-in</a>
  </div>
</div>

</fieldset>
</form>

		<!--<h1>Welcome to TrueVote</h1>
		Username: <input type="text" name="Username"><br>
		Password: <input type="text" name="Password"><br>
		<input type="submit" value="Submit" onclick="location.href='/audit'">
		<!--a href="/audit">Go to the audit page</a--> 
	</body>
</html>

