<!DOCTYPE html>
<html>
	<head>
		<title>TrueVote - Results</title>
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/results.css" rel="stylesheet" media="screen">
		
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/results.js"></script>
	</head>
	
	<body>
		<div class="container">
			<div class="resultsContainer">
			<div class="well">
				<ul class="nav pull-right">
					<li class="active">
						<a href="/">Log Out</a>
					</li>
				</ul>
				<div class="row-fluid">
					<div class="span3">
						<img src="{{ STATIC_URL }}img\logo.png" width="500" height="120">
					</div>
					<div class="span9">
						<h1><div id="resultsTitle"> 2012 Presidential Election Results </div></h1>
					</div>
				</div>
			</div>
			<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab"><div class="raceTitle">President and Vice President</div></a></li>
					<li><a href="#tab2" data-toggle="tab"><div class="raceTitle">Senator in Congress</div></a></li>
					<li><a href="#tab3" data-toggle="tab"><div class="raceTitle">Representative in Congress</div></a></li>
					<li><a href="#tab4" data-toggle="tab"><div class="raceTitle">Councillor</div></a></li>
					<li><a href="#tab5" data-toggle="tab"><div class="raceTitle">Senator in General Court</div></a></li>
					<li><a href="#tab6" data-toggle="tab"><div class="raceTitle">Representative in General Court</div></a></li>
					<li><a href="#tab7" data-toggle="tab"><div class="raceTitle">Clerk of Courts</div></a></li>
					<li><a href="#tab8" data-toggle="tab"><div class="raceTitle">Register of Deeds</div></a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<h3> Projected Winner: Obama and Biden </h3>
						<div class="center chart" id="chart_div"></div>
					</div>
					<div class="tab-pane" id="tab2">
						<h3> Projected Winner: Elizabeth Warren </h3>
						<div class="center chart" id="chart_div2"></div>
					</div>
					<div class="tab-pane" id="tab3">
						<h3> Projected Winner: Nicola Tsongas </h3>
						<div class="center chart" id="chart_div3"></div>
					</div>
					<div class="tab-pane" id="tab4">
						<h3> Projected Winner: Marilyn Devaney </h3>
						<div class="center chart" id="chart_div4"></div>
					</div>
					<div class="tab-pane" id="tab5">
						<h3> Projected Winner: Michael Barrett </h3>
						<div class="center chart" id="chart_div5"></div>
					</div>
					<div class="tab-pane" id="tab6">
						<h3> Projected Winner: Cory Atkins </h3>
						<div class="center chart" id="chart_div6"></div>
					</div>
					<div class="tab-pane" id="tab7">
						<h3> Projected Winner: Michael Sullivan </h3>
						<div class="center chart" id="chart_div7"></div>
					</div>
					<div class="tab-pane" id="tab8">
						<h3> Projected Winner: Maria Curtatone </h3>
						<div class="center chart" id="chart_div8"></div>
					</div>
				</div>
			</div>
			</div>
			</div>
		</div>
	</body>
	</html>
