<div id="sidebarHeader">
      <div id="ballotNumber">
            <p>Ballot 1</p>
      </div>
  	<div id="counter">
  		<progress value="0" max="50">
    </div>
</div>

<div id="enteredInfo">
	<table id="currentBallot">

	</table>
</div>

<div id="fixMistakeDiv">
  <button id="fixMistakeBtn" name="" class="btn btn-danger input-medium">Fix Mistake</button>
  <button id='btnRestart' class='btn btn-danger'>Restart Audit</button>
  <button id='cancelFixMistake' class='btn'>Cancel</button>
</div>
</div>