<img src="{{ STATIC_URL }}img/logo.png">

<div id="ballotNumber" class="bootstro initialTutorial" data-bootstro-step="5"  data-bootstro-placement="right" data-bootstro-width='500px' data-bootstro-content="You can view your progress in the election here.">
  <h1>Ballot 4/5</h1> 
</div>

<div id="ballotHelper">

  <!--<div class="progress">
      <div class="bar bar-danger ballotbar">
      </div>
  </div>-->
</div>

<div class='previousSelections'>
  <h2>Previous Selections</h2>
</div>

<div id="enteredInfo" class="bootstro initialTutorial" data-bootstro-step="6"  data-bootstro-placement="right" data-bootstro-width='500px' data-bootstro-content="The previous information you have entered on this ballot will be displayed here. " >
  <table id="currentBallot">
  </table>
</div>

<div id="fixMistakeDiv" class="input-medium bootstro initialTutorial" data-bootstro-step="7"  data-bootstro-placement="top" data-bootstro-content="If you make a mistake, click this button to fix it. Try it out now!" data-bootstro-width : "500px">
  <button id="fixMistakeBtn" name="" class="fixBtn btn btn-danger input-medium">Fix Mistake</button>
</div>
