<div class="row">
<div id="sidebarHeader">
  <div id="logo" class="span12"><img src="{{ STATIC_URL }}img/logo.png" width="450"></div>
	<div id="ballotNumber" class="bootstro initialTutorial" data-bootstro-step="1"  data-bootstro-placement="bottom" data-bootstro-title="Welcome to TrueVote!" data-bootstro-content="The current ballot number is visible here." data-bootstro-width : "500px">
		<h1>Ballot 1</h1>
	</div>      
 <div id="ballotHelper">
    <h1>Audit 0% completed</h1>
  </div>
  <div class="row">
  <div class="progress">
    <div class="bar bar-danger ballotbar"></div>
  </div>
  </div>
</div>
</div>

<div class="row">
<div id="enteredInfo" class="bootstro initialTutorial" data-bootstro-step="2"  data-bootstro-placement="right" data-bootstro-title="Welcome to TrueVote!" data-bootstro-width='500px' data-bootstro-content="The data you entered in the last three races will be available here. The current race will be highlighted." >
	<table id="currentBallot">

	</table>
</div>


<div id="fixMistakeDiv">
  <button id="fixMistakeBtn" name="" class="btn btn-danger input-medium bootstro initialTutorial" data-bootstro-step="3"  data-bootstro-placement="top" data-bootstro-title="Welcome to TrueVote!" data-bootstro-content="If you make a mistake, click this button to fix it." data-bootstro-width : "500px">Fix Mistake</button>
</div>

