<!DOCTYPE html>
<html>
  <head>
	<title>TrueVote</title>
	<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/bootstrap-themed.css" rel="stylesheet" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href="{{ STATIC_URL }}css/welcome.css" rel="stylesheet" media="screen">
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-themed.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
</head>
<body>
	<div class="navbar">
	  <div class="navbar-inner navbar-fixed-top">
		<div class="row">
		<div class="span3">
		<a class="brand" href="#"><img src="{{ STATIC_URL }}img\logo.png" width="500" height="120"></a>
		</div>
		</div>
	  </div>
	</div>
	<div class="containerParent">
	<div class="background">
		<img src="{{ STATIC_URL }}img/login.png" class="background-img">
	</div>
	<div class="container-outer">
    <div class="content">
      <div class="row">
        <div class="login-form">
          <h1> Welcome, {{ userprofile.user.first_name }} {{ userprofile.user.last_name }}</h1>
		  <h4> You are auditing the 2012 Presidential Election. </h4>
		  <div class="well">
		  	{% if userprofile.counter == 0 %}
		  		<h3>You have been assigned {{ userprofile.ballots }} ballots. </h3>
		  	{% else %}
		  		<h3>You have {{ remaining_ballots }} ballots left to audit. </h3>
		  	{% endif %}
		  </div>
		  <!--<a href="/tutorial/" class="btn btn-info login-button pull-right">Continue</a></button>-->
		  {% if userprofile.counter == 0 %}
		  	<a href="/audit/" class="btn btn-info login-button pull-right">Start</a></button>
		  {% else %}
		  	<a href="/audit/" class="btn btn-info login-button pull-right">Continue</a></button>
		  {% endif %}
        </div>
      </div>
	</div>
    </div>
  </div> 
  <div class="navbar">
	  <div class="navbar-inner navbar-fixed-bottom">
		<div class="row">
		<div class="span3">
		<a class="brand" href="#"></a>
		</div>
		</div>
	  </div>
	</div>
</body>
</html>